<!DECTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" media="screen"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="myController">
    <header>
        <p>{{labels.title}}</p>
    </header>
    <main class="container">
        <div class="description">
            <h1>{{position.city}}</h1>
            <img src="{{icon}}"/>
            <p class="temperature">{{temp}} &ordm; C</p>
            <h2>{{description}}</h2>
            <p>Wind speed: {{speed}} m/s</p>
            <p>Air pressure: {{pressure}} hPa</p>
            <p>Humidity: {{humidity}} %</p>
        </div>
        <div class="find-weather">
            <form name="form" ng-submit="findWeather()" class="new-weather" novalidate>
                <h5>Find more weather:</h5>
                <div class="form-control-container">
                    <input type="text" name="city" placeholder="City" ng-model="new.city" required/>
                    <span class="error-message"
                          ng-show="(form.$submitted && form.city.$error.required) || (form.city.$dirty && form.city.$error.required)">City name is required</span>

                    <select name="country" ng-model="new.country" ng-init="new.country='de'">
                        <option value="at">Austria: AT</option>
                        <option value="be">Belgium: BE</option>
                        <option value="cn">China: CN</option>
                        <option value="cz">Czech Republic: CZ</option>
                        <option value="fr">France: FR</option>
                        <option value="de">Germany: DE</option>
                        <option value="in">India: IN</option>
                        <option value="it">Italy: IT</option>
                        <option value="pl">Poland: PL</option>
                        <option value="es">Spain: ES</option>
                        <option value="ae">United Arab Emirates: AE</option>
                        <option value="gb">United Kingdom: GB</option>
                        <option value="us">United States: US</option>
                    </select>
                </div>
                <div class="submit-area">
                    <input type="submit" class="submit btn btn-primary" value="Find Your Weather">
                </div>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>